.TransactionHistory {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;

  margin-bottom: 60px;
  margin-top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid grey;
}

.TransactionHistory tbody {
  padding-top: 20px;
  padding-bottom: 20px;
}

.TransactionRow {
  display: flex;
  justify-content: space-between;
  /* padding-top: 5px; */
  padding-bottom: 10px;
}

.TransactionRow td,
.TransactionRow th {
  flex-basis: calc(100% / 3);
}

.TransactionRow th {
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}

.TransactionRow td {
  padding-left: 40px;
}

.TransactionRow td:nth-child(2) {
  text-align: right;
  padding-right: 80px;
}
